h1{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 5rem;
	color: goldenrod;
}
h2{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 3rem;
	color: goldenrod;
}
h3{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 3rem;
	color: goldenrod;
}