h1{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 2rem;
	color: goldenrod;
}
h2{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 1rem;
	color: goldenrod;
}
h3{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 1rem;
	color: goldenrod;
}
.we{
font-size: 12rem;
color: black;
text-align: center;
}

.f{
	height: 500px;
	width:	500px;
	padding-left: 25%;
}

.ff{
	height: 500px;
	width: 450px;
}


.r{
	height: 10%;
	width: 50%;
	padding-left: 20%;
	
}
